:root {
    --color-bg-light: #F8F8F8;
    --color-bg-dark: #1E0640;
    --color-primary: #4D00FF;
    --color-primary-dark: #FFC228;
    --color-secondary: #524D5C;
    --color-secondary-light: #F8F8F8;
    --color-accent: #FFC800;
    --color-accent-dark: #123CE7;
}

html{
    font-family: 'Arimo', sans-serif;
    background-color: var(--color-bg-light);
    font-size: 16px;
    animation: load 1s;
    transition: background-color 0.5s ease;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-light);
    transition: background-color 0.5s ease;
}

body.dark-mode {
    background-color: var(--color-bg-dark);
}

body.dark-mode html {
    background-color: var(--color-bg-dark);
}

#header{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 5%;
    height: auto;
}

.alert {
    padding: 20px;
    background-color: rgb(255, 208, 0);
    color: black;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: bold;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

@keyframes load{
    0%{
        opacity: 0;
        scale: 0.99;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

a{
    cursor: pointer;
}

.title{
    font-size: 15vw;
    font-style: bold;
    color: var(--color-primary);
    margin: 0;
    transform: translateX(-0.8vw);
    line-height: 1;
    transition: color 0.5s ease;
}

.dark-mode .title {
    color: var(--color-accent);
}

.subtitle{
    font-size: 3rem;
    color: var(--color-secondary);
    margin: 0;
    width: 75%;
    margin-bottom: 3rem;
    transition: color 0.5s ease;
}

.dark-mode .subtitle {
    color: var(--color-secondary-light);
}

#header h2{
    font-size: 2rem;
    color: var(--color-primary);
    margin: 0;
    margin-bottom: 1rem;
    transition: color 0.5s ease;
}

.dark-mode #header h2 {
    color: var(--color-accent);
}

#header span{
    font-size: 2rem;
    color: var(--color-secondary);
    font-weight: normal;
    margin: 0;
    transition: color 0.5s ease;
}

.dark-mode #header span {
    color: var(--color-secondary-light);
}

#header h3{
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-weight: normal;
    font-style: italic;
    margin: 0;
    transition: color 0.5s ease;
}

.dark-mode #header h3 {
    color: var(--color-secondary-light);
}

.tag-box{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#header .tag-box span{
    font-size: 1.25rem;
    color: var(--color-secondary);
    margin: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    border: 3px solid rgba(82, 77, 92, 0.3);
    padding: 0.25rem 1.25rem;
    border-radius: 2rem;
    font-weight: bold;
    transition: color 0.5s ease, border-color 0.5s ease;
}

.dark-mode #header .tag-box span {
    color: #d1d1d1;
    border-color: #d1d1d1;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    aspect-ratio: 16/9;
}

.img-container img, .img-container video{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
    background-color: #524D5C30;
    animation: loading 2s infinite;
}

@keyframes loading{
    0%{
        background-color: #524D5C20;
    }
    50%{
        background-color: #524D5C80;
    }
    100%{
        background-color: #524D5C20;
    }
}

.section{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.section h2{
    font-size: 4rem;
    color: var(--color-primary);
    margin: 0;
    margin-bottom: 1rem;
    transition: color 0.5s ease;
}

.dark-mode .section h2 {
    color: var(--color-accent);
}

.section p, .list {
    font-size: 1.75rem;
    color: var(--color-secondary);
    margin: 0;
    margin-bottom: 1rem;
    width: 75%;
    line-height: 1.2;
    transition: color 0.5s ease;
}

.dark-mode .section p, .dark-mode .list {
    color: var(--color-secondary-light);
}

.section p span, .list span {
    color: #17004b;
    font-style: italic;
    font-weight: 600;
    background-color: rgba(77, 0, 255, 0.2);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.dark-mode .section p span, .dark-mode .list span {
    color: var(--color-accent);
    background-color: rgba(255, 200, 40, 0.2);
}

.spacer{
    margin-top: 5rem;
}

#footer {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    box-sizing: border-box;
    border-top: 3px solid var(--color-primary);
    transition: border-color 0.5s ease;
  }
  
  .dark-mode #footer {
    border-top-color: var(--color-accent);
  }
  
  #footer h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: normal;
    transition: color 0.5s ease;
  }
  
  .dark-mode #footer h2 {
    color: var(--color-secondary-light);
  }
  
  #footer div {
    display: flex;
    gap: 1rem;
  }
  
  #footer a {
    text-decoration: none;
    font-size: 1.5rem; 
    color: var(--color-primary); 
    transition: color 0.2s ease;
  }
  
  .dark-mode #footer a {
    color: var(--color-secondary-light);
  }
  
  #footer a:hover {
    color: var(--color-accent);
  }
  
  .dark-mode #footer a:hover {
    color: var(--color-accent-dark);
  }


  .exit {
    position: static;
    bottom: 50px;
    font-size: 3rem;
    cursor: pointer;
    color: var(--color-primary);
    transition: all 0.4s ease;
    font-weight: 300;
    z-index: 100;
    transform: translateY(10px);
    margin: 0% 5% 5% 2%;
}

.dark-mode .exit {
    color: var(--color-accent);
}

.exit a{
    text-decoration: none;
    color: var(--color-primary);
    transition: all 0.2s ease;
    font-weight: bold;
}

.dark-mode .exit a {
    color: var(--color-accent);
}

.exit span{
    animation: pointer 2s infinite;
    font-size: 2rem;
    font-weight: bold;
}

.exit:hover, .exit a:hover{
    letter-spacing: 0.4rem;
}

@keyframes pointer {
    0%, 100% {
        transform: translateX(5);
    }
    50% {
        transform: translateX(15px);
    }
}

#credits h2{
    font-size: 1rem;
    color: var(--color-secondary);
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding-left: 5%;
    padding-bottom: 5%;
    transition: color 0.5s ease;
}

.dark-mode #credits h2 {
    color: var(--color-secondary-light);
}

.app-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.huemuse-btn {
    font-family: "Martian Mono", monospace, serif;
    letter-spacing: 0.3rem;
    width: 45rem;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 2.3rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #e3a30e, #03c678);
    background-size: 300%;
    border-radius: 40px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-position 1s ease;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    outline: none;;
}

.huemuse-btn:hover {
    background-position: 100% 0;
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}


/* Adding active effect for when the button is pressed */
.huemuse-btn:active {
    transform: scale(0.98);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.huemuse-btn .icon{
    font-size: 2.5rem;
    transform: translateY(0.2rem);
    transition: all 0.3s ease;
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
        overflow-x: hidden;
    }

    #header{
        padding: 2%;
    }
    #header .subtitle{
        font-size: 2.3rem;
        width: 100%;
    }

    .title{
        transform: translateX(-0.8vw);
    }

    .content{
        padding: 2%;
    }

    .section p{
        width: 100%;
    }
    .list{
        width: 90%;
    }
    #credits h2{
        padding-top: 5%;
        padding-left: 2%;
        font-size: 0.9rem;
    }
    
    #footer{
        padding: 0.5rem 1rem;
        border-top: 1px solid var(--color-primary);
    }
    
    .dark-mode #footer {
        border-top: 1px solid var(--color-accent);
    }

    #footer h2{
        font-size: 1.5rem;
    }

    #footer a{
        font-size: 1.5rem;
    }

    .app-btn{
        padding: 20px;

    }
    .huemuse-btn{
        width: 35rem;
        height: 75px;
        font-size: 1.75rem;
    }

}